* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
/* HEADER */
.enterdus {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 50px;
}
.enterdus img {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enterdus p {
  color: white;
}
/* HERO */
.hero {
  height: 300px;
  background: url(../images/salor.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation ul {
  padding: 33px 0;
}
.navigation li {
  font-size: 20px;
  width: 300px;
  border-bottom: 1px solid palevioletred;
  padding: 18px 20px;
  background-color: lightgray;
  color: darkblue;
  transition: 0.7s;
  list-style: none;
}
.navigation li:hover {
  color: blueviolet;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery p {
  margin: 0 auto;
  background-color: lightblue;
  border-bottom: 2px solid palevioletred;
  font-size: 40px;
  padding: 15px;
}

.koli {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  flex-wrap: wrap;
}
.gallery2 img {
  width: 300px;
}
.gallery2 {
  margin: 30px 0;
}
.pic {
  margin: 30px 0;
}
.pic h3 {
  font-size: 25px;
}

/* FOOTER */
footer {
  background-color: aqua;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}
.icon {
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.footer p {
  font-size: 20px;
  margin-top: 20px;
}
@media (max-width: 853px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .pic p:nth-child(2) {
    opacity: 1;
  }
  main {
    padding: 0;
  }
}
@media (max-width: 458px) {
  .pictures {
    display: flex;
    flex-direction: column;
  }
  .gallery {
    position: absolute;
    top: 50px;
    right: 20px;
  }
  .gallery p {
    font-size: 20px;
    padding: 4px;
  }
}
@media (max-width: 295px) {
  .navigation li {
    width: 200px;
  }
}
